<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="FirstTestSuite" verbose="1" parallel="tests" thread-count="2">

	<test name="FirstTest-CHROME">
		<parameter name="browser" value="chrome"></parameter>
		<classes>
			<class name="com.seleniumgrid.tests.FirstTest" />
		</classes>
	</test>

	<test name="FirstTest-FIREFOX">
		<parameter name="browser" value="firefox"></parameter>
		<classes>
			<class name="com.seleniumgrid.tests.FirstTest" />
		</classes>
	</test>
</suite>